<!DOCTYPE html>
<html lang="en">
<head>
    <title>Basic HTML Page</title>
    <link rel="stylesheet" href="home.css" />
</head>
<body>

<h1>Welcome to SlaCker NeWs </h1>

<h3>Add your news you slacker!</h3>
<ul>
      <a href =<%= "/articles" %>>
          <img src="http://dawnlennon.rbharddrive.com/wp-content/uploads/2011/01/dilbert-slacker.jpg" alt="Slacker" style="width:304px;height:228px">
          <br></br>
      <%="Post your article"%> </a>
</ul>

</body>
